@import url(https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/base-min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/grids-min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/grids-min.css);
@import url(https://use.fontawesome.com/releases/v5.1.0/css/all.css);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// Single side border-radius

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
     background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
     border-top-left-radius: $radius;
     background-clip: padding-box;
}

$blue: #2876CB;

body {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  width: 100vw;

}

body {
  height: 100%;
  width: 100vw;

}

#map {
  height: 100%;
  width: 100vw;
}

#filterPage {
  height: 100%;
  width: 100vw;
  display: none;
}

#details {
  height: 100%;
  width: 100vw;
  display: none;
  position: absolute;
  top: 75%;
  background-color: white;
  z-index: 999;
  color: $blue;

  #cardHolder {
    border: 1px black solid;
    margin: 5% 4% 0%;

    .detail-img {
      img {
        max-width:100%;
        max-height:100%;
      }
    }

    .detail-type {
      #detail-type {
        color: $blue;

      }

      #detail-title {
        color: $blue;
      }

      #detail-address {
        color: $blue;

      }
    }
  }
}

// #circle {
//   @include border-radius(100%);
//   text-align: center;
//   display: block;
//   height: 55px;
//   width: 55px;
//   background: blue;
//   border: 2px white solid;
//   z-index: 999;
//   position: absolute;

// }

.searchbox {
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid transparent;
    padding: 12px 70px 11px;
    transition-property: background,box-shadow;
    transition-duration: .3s;
}

#controlbox {
  z-index: 999;
  margin: 8% 4% 0% 12%;
  transition: left .5s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition-property: -webkit-transform,transform,visibility,opacity;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0,0,.2,1);
}

#controlcontainer{
  magin: auto;
  z-index: 999;
  height:100%;
}


// #mapid { width: 100%; height: 400px; }

// $startColor: #2E4172;
// $endColor: #407D80;
// $darkAdjacentStartColor: #162855;
// $lightAdjacentEndColor: #407D80;
// $blueGrey: #35394a;
// $darkerBlueGrey: #1f222e;
// $red: #E74C3C;
// $btnSize: 90px;

// body{
//   perspective:800px;
//   height: 100vh;
//   margin:0;
//   overflow: hidden;
//   font-family: 'Gudea', sans-serif;
//   background: $startColor; /* Old browsers */
//   background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$startColor ), color-stop(100%,$endColor)); /* Chrome,Safari4+ */
//   background: -webkit-linear-gradient(-45deg,  $startColor  0%, $endColor 100%); /* Chrome10+,Safari5.1+ */
//   background: -o-linear-gradient(-45deg,  $startColor  0%, $endColor 100%); /* Opera 11.10+ */
//   background: -ms-linear-gradient(-45deg,  $startColor  0%, $endColor 100%); /* IE10+ */
//   background: linear-gradient(135deg,  $startColor  0%, $endColor 100%); /* W3C */


//   .container{
//      opacity:1;
//      -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, .85);
//      transition-property:transform,opacity,box-shadow,top,left;
//      transition-duration:.5s;
//      transform-origin:161px 100%;
//      transform:rotateX(0deg);
//      position:relative;
//      width: 640px;
//      border-top: 2px solid $darkAdjacentStartColor;
//      border-right: 0px;
//      height: 100%;
//      margin:auto;
//      padding:40px 40px 40px 40px;
//      background: #35394a; /* Old browsers */
//      background: -moz-linear-gradient(45deg,  $blueGrey 0%, $darkerBlueGrey 100%); /* FF3.6+ */
//      background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,$blueGrey), color-stop(100%, $darkerBlueGrey)); /* Chrome,Safari4+ */
//      background: -webkit-linear-gradient(45deg,  $blueGrey 0%, $darkerBlueGrey 100%); /* Chrome10+,Safari5.1+ */
//      background: -o-linear-gradient(45deg,  $blueGrey 0%, $darkerBlueGrey 100%); /* Opera 11.10+ */
//      background: -ms-linear-gradient(45deg,  $blueGrey 0%, $darkerBlueGrey 100%); /* IE10+ */
//      background: linear-gradient(45deg,  $blueGrey 0%, $darkerBlueGrey 100%); /* W3C */

//    }
// }




* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */


h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #2876CB;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

/* We want to give the content area some more padding */
.content {
    padding: 1em 1em 3em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    background: #111;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}
