doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title= title
    block map
    block css
      link(rel='stylesheet', href='/css/main.min.css')
    block js
      script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
      script(src='/js/main.min.js')

  body
    block content
