extends layout

block map
  link(rel='stylesheet', href='https://unpkg.com/leaflet@1.3.3/dist/leaflet.css', integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==", crossorigin="")
  link(href='/leaflet-custom-searchbox/searchbox.min.css', rel='stylesheet')
  link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css')
  link(rel='stylesheet', href='css/leaflet.awesome-markers.css')
  script(src='https://unpkg.com/leaflet@1.3.3/dist/leaflet.js', integrity='sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==', crossorigin='')
  script(src='/leaflet-custom-searchbox/leaflet.customsearchbox.min.js')
  script(src='js/leaflet.awesome-markers.js')

block content
  #map
  #details(style="display:none")
    #cardHolder
      .pure-g
        .pure-u-1-3
          .detail-img
            img(src='http://via.placeholder.com/140x100')
        .pure-u-2-3
          .detail-type
            h4#detail-type
              Some Type
          .detail-title
            h3#detail-title
              Some Title
          .detail-address
            p#detail-address
              123 Main St

  #filterPage
    .header
      .home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
        .pure-g
          .pure-u-1-3
            a.pure-menu-heading(href='') X
          .pure-u-1-3
            h5.pure-menu-heading(href='') Filter
          .pure-u-1-3
            a.pure-menu-heading(href='') Apply

  #controlbox
    #boxcontainer.searchbox.searchbox-shadow
      .searchbox-menu-container
        button#searchbox-menubutton.searchbox-menubutton(aria-label='Menu')
        span(aria-hidden='true', style='display:none') Menu
      div
        input#searchboxinput(type='text', style='position: relative;')
      .searchbox-searchbutton-container
        button#searchbox-searchbutton.searchbox-searchbutton(aria-label='search')
        span(aria-hidden='true', style='display:none;') search
